.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--gap-size);
    padding: 16px;

    background-color: var(--surface-color);

    border-radius: var(--radius);

    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 10px 15px -3px rgba(0, 0, 0, 0.5);

    width: fit-content;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.board:hover {
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 0.3),
    0 20px 25px -5px rgba(0, 0, 0, 0.5);
}