:root {
  /* Кольорова палітра */
  --primary-color: #3b82f6; /* Blue */
  --secondary-color: #64748b; /* Slate */
  --danger-color: #ef4444; /* Red */
  --success-color: #22c55e; /* Green */
  --bg-color: #b0adad;;
  --text-color: #1e293b;

  --cell-size: 50px;
  --gap-size: 5px;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}

h1, h2, p {
  margin: 0 0 1rem 0;
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}