:root {
  --bg-app: #0b1121;
  --text-main: #e2e8f0;
  --text-muted: #94a3b8;

  --primary-color: #06b6d4;
  --primary-glow: rgba(6, 182, 212, 0.5);

  --danger-color: #ef4444;
  --danger-glow: rgba(239, 68, 68, 0.5);

  --surface-glass: rgba(30, 41, 59, 0.6);
  --surface-border: rgba(255, 255, 255, 0.1);

  --radius-md: 12px;
  --radius-lg: 20px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}